* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/body\ background.jpg');
    background-size: 100%;
    font-family: metal mania, sans-serif;
}

.game-container {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.header {
    margin-top: 15px;
    font-size: 6vmin;
    color: white;
    font-weight: bold;
}

.message {
    font-size: 2em;
    margin: 15px;
    color: white;
}

.game-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.lives {
    margin-right: 43vmin;
}

.matches {
    margin-left: 43vmin;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 25vmin);
    grid-template-rows: repeat(4, 15vmin);
    grid-gap: 3vmin;
    perspective: 1500px;
}

button {
    height: 5vmin;
    width: 10vmin;
    background-color: black;
    border: 2px solid;
    color: white;
    border-color: white;
    border-radius: 15px;
    margin-top: 30px;
    font-family: metal mania, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #d10f0f;
    transition: .1s ease;
}

.card {
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all .5s ease;
}

.card:hover {
    cursor: pointer;
}

.face, .back {
width: 100%;
height: 100%;
position: absolute;
pointer-events: none;
border-radius: 20px;
}

.back {
    background-color: white;
    background-image: url(images/ds\ logo.png);
    backface-visibility: hidden;
    border: 2px solid;
    border-color: #d10f0f;
    background-position: center;
    background-size: 11vmin;
    background-repeat: no-repeat;
}

.toggleCard {
    transform: rotateY(180deg);
}